<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Audrey", suffix: "" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

  </head>
  <body class="antialiased">
    <header class="relative z-50 flex items-center justify-between w-full h-16 text-gray-700 bg-white border-gray-100 shadow-md sm:z-50 sm:flex sm:sticky sm:top-0">
      <a href="<%= Routes.page_path(@conn, :index) %>" class="ml-4 text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-red-400 to-blue-500">AudreyApp</a>
      <%= if Application.get_env(:audrey, :env) == :dev do %>
        <div class="ml-4">
          <div class="sm:hidden md:hidden lg:hidden">Default</div>
          <div class="hidden sm:block md:hidden lg:hidden">Small</div>
          <div class="hidden sm:hidden md:block lg:hidden">Medium</div>
          <div class="hidden sm:hidden md:hidden lg:block">Large</div>
        </div>
      <% end %>
      <div class="mr-4">
        <%= unless @conn.assigns.live_module == AudreyWeb.PropertyLive.Setup do %>
          <a href="<%= Routes.property_setup_path(@conn, :setup) %>" class="btn btn-emerald whitespace-nowrap">New Property</a>
        <% end %>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
