<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Audrey", suffix: "" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

  </head>
  <body class="antialiased">
    <header class="text-gray-700 border-t shadow-md border-gray-100 bg-white body-font h-16 z-50 top-0 sticky">
      <div class="container max-w-full mx-auto flex justify-between items-center p-5 md:flex-row">
        <nav class="flex flex-wrap items-center text-base">
          <a href="<%= Routes.page_path(@conn, :index) %>" class="font-medium hover:text-gray-900">AudreyApp</a>
          <%= if Application.get_env(:audrey, :env) == :dev do %>
            <div class="ml-4">
              <div class="sm:hidden md:hidden lg:hidden">Md: Default</div>
              <div class="hidden sm:block md:hidden lg:hidden">Md: Small</div>
              <div class="hidden sm:hidden md:block lg:hidden">Md: Medium</div>
              <div class="hidden sm:hidden md:hidden lg:block">Md: Large</div>
            </div>
            <% end %>
        </nav>
        <div class="items-center h-full justify-self-end">
          <%= unless @conn.assigns.live_module == AudreyWeb.PropertyLive.Setup do %>
            <a href="<%= Routes.property_setup_path(@conn, :setup) %>" class="btn btn-green whitespace-nowrap">Setup New Property</a>
          <% end %>
        </div>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
